---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

## Journal Articles

[11] **Li, X.**, Mak, C. M., Ai, Z., Ma, K. W., & Wong, H. M. (2024). [Propagation and evaporation of contaminated droplets, emission and exposure in surgery environments revealed by laser visualization and numerical characterization](https://doi.org/10.1016/j.jhazmat.2024.135338) Journal of Hazardous Materials, 477, 135338.
 
<p>
<li><strong>Cross-infection risk assessment in dental clinic: Numerical investigation of emitted droplets during different atomization procedures</strong>
<br>
<strong>Xiujie Li</strong>, Cheuk Ming Mak*, Zhengtao Ai, Kuen Wai Ma, Hai Ming Wong
 <br>
<em>Journal of Building Engineering</em> 2023 | <a style="color: #447ec9" href="https://www.sciencedirect.com/science/article/abs/pii/S2352710223011403">paper</a>
</p>
						       
      <p>
      <li><strong>Numerical investigation of the impacts of environmental conditions and breathing rate on droplet transmission during dental service</strong>
      <br>
      <strong>Xiujie Li</strong>, Cheuk Ming Mak*, Zhengtao Ai, Kuen Wai Ma, Hai Ming Wong
      <br>
      <em>Physics of Fluids</em> 2023 | <a style="color: #447ec9" href="https://pubs.aip.org/aip/pof/article-abstract/35/4/043332/2885313/Numerical-investigation-of-the-impacts-of?redirectedFrom=fulltext">paper</a>
      </p>
															     
      <p>
      <li><strong>Airborne transmission during short-term events: Direct route over indirect route</strong>
      <br>
      <strong>Xiujie Li</strong>,  Zhengtao Ai*, Jinjun Ye, Cheuk Ming Mak, Hai Ming Wong 
      <br>
      <em>Building Simulation</em> 2022 | <a style="color: #447ec9" href="https://link.springer.com/article/10.1007/s12273-022-0917-9">paper</a> 
      </p>

      <p>
      <li><strong>Airborne transmission of exhaled pollutants during short-term events: Quantitatively assessing inhalation monitor points</strong>
      <br>
      <strong>Xiujie Li</strong>, Cheuk Ming Mak*, Zhengtao Ai, Hai Ming Wong
      <br>
      <em>Building and Environment</em> 2022 | <a style="color: #447ec9" href="https://www.sciencedirect.com/science/article/pii/S0360132322007181">paper</a> 
      </p>

      <p>
      <li><strong>How the high-volume evacuation alters the flow-field and particle removal characteristics in the mock-up dental clinic&nbsp;</strong>
      <br>
      <strong>Xiujie Li</strong>, Cheuk Ming Mak, Kuen Wai Ma, Hai Ming Wong*
      <br>
      <em>Building and Environment</em> 2021 | <a style="color: #447ec9" href="https://www.sciencedirect.com/science/article/pii/S0360132321006260">paper</a>
      </p>
      	
      <p>
      <li><strong>Restoration of dental services after COVID-19: The fallow time determination with laser light scattering</strong>
      <br>
      <strong>Xiujie Li</strong>, Cheuk Ming Mak*, Kuen Wai Ma, Hai Ming Wong
      <br>
      <em>Sustainable Cities and Society</em> 2021 |<a style="color: #447ec9" href="https://www.sciencedirect.com/science/article/pii/S2210670721004169">paper</a>
      </p>
  
      <p>
      <li><strong>Evaluating flow-field and expelled droplets in the mockup dental clinic during the COVID-19 pandemic</strong>
      <br>
      <strong>Xiujie Li</strong>, Cheuk Ming Mak, Kuen Wai Ma, Hai Ming Wong*
      <br>
      <em>Physics of Fluids</em> 2021 <span style="color:red">"Featured Work & 封面文章" </span>| <a style="color: #447ec9" href="https://aip.scitation.org/doi/full/10.1063/5.0048848">paper</a>
      </p>

      <p>
      <li><strong>Design and analysis of an active daylight harvesting system for building</strong>
      <br>
      <strong>Xiujie Li</strong>, Yeyan Wei, Junbin Zhang, Peng Jin*
      <br>
      <em>Renewable Energy</em> 2019 | <a style="color: #447ec9" href="https://www.sciencedirect.com/science/article/pii/S0960148119302514">paper</a>
      </p>

      <p>
      <li><strong>Numerical modeling of tubular daylighting devices</strong>
      <br>
      Biao Chen, Yeyan Wei, <strong>Xiujie Li</strong>, Runze Cao, Peng Jin <br>
<em>Optik</em> 2017 | <a style="color: #447ec9" href="https://www.sciencedirect.com/science/article/pii/S0030402617307441">paper</a> 
      </p>

     
##Conference papers

<p>
<li><strong>Performance of mitigation measures on emitted droplets in dental atomization procedure</strong>
<br>
<strong>Xiujie Li</strong>, Cheuk Ming Mak, Hai Ming Wong
<br>
 <em>IAQVEC</em> 2023 | <a style="color: #447ec9" href="https://www.researchgate.net/publication/362839719_The_airborne_lifetime_and_spatial-temporal_distribution_of_emitted_droplets_in_dental_procedures">paper</a> 
 </p>
	  
<p>
 <li><strong>Cross-Infection Risk Analysis in Dental Clinics: Atomization and Transmission Mechanisms of Emitted Droplet</strong>
 <br>
<strong>Xiujie Li</strong>, Cheuk Ming Mak, Hai Ming Wong
<br>
<em>PRSC</em> 2023 | <a style="color: #447ec9" href="https://www.polyu.edu.hk/gs/docdrive/PRSC2023/PRSC2023_8721.pdf">paper</a> 
</p>
	  
<li><strong>The airborne lifetime and spatial-temporal distribution of emitted droplets in dental procedures</strong>
<br>
 <strong>Xiujie Li</strong>, Cheuk Ming Mak, Zhengtao Ai, Kuen Wai Ma, Hai Ming Wong
<br>
 <em>COBEE</em> 2022 | <a style="color: #447ec9" href="https://www.researchgate.net/publication/362839719_The_airborne_lifetime_and_spatial-temporal_distribution_of_emitted_droplets_in_dental_procedures">paper</a> 
 </p>

 <p>
 <li><strong>Design and analysis of an active daylighting system for retrofiting building</strong>
 <br>
 <strong>Xiujie Li</strong>, Yeyan Wei, Junbin Zhang, Peng Jin 
 <br>
<em>SEEP</em> 2018 | <a style="color: #447ec9" href="https://www.sciencedirect.com/science/article/pii/S0960148119302514">paper</a> 
</p>

[6]  **Hu, G.**, Feng, K., Sun, L., & Baiocchi, G. (2023). [Tracing toxic chemical releases embodied in US interstate trade and their unequal distribution](https://www.sciencedirect.com/science/article/pii/S0160412022006080). Environment international, 171, 107681. 

[5] **Hu, G.**, Hamovit, N., Croft, K., Roberts, J. D., & Niemeier, D. (2022). [Assessing inequities underlying racial disparities of COVID-19 mortality in Louisiana parishes](https://www.pnas.org/doi/abs/10.1073/pnas.2123533119). Proceedings of the National Academy of Sciences, 119(27), e2123533119.

[4] Nakalembe, C., Becker-Reshef, I., Bonifacio, R., **Hu, G.**, Humber, M. L., Justice, C. J., ... & Sanchez, A. (2021). [A review of satellite-based global agricultural monitoring systems available for Africa](https://www.sciencedirect.com/science/article/pii/S2211912421000523). Global food security, 29, 100543.

[3] **Hu, G.**, Ma, X., & Ji, J. (2019). [Scenarios and policies for sustainable urban energy development based on LEAP model–A case study of a postindustrial city: Shenzhen China](https://www.sciencedirect.com/science/article/abs/pii/S030626191930176X). Applied Energy, 238, 876-886.

[2] **Hu, G.**, Ma, X., & Ji, J. (2017). [A stochastic optimization model for carbon mitigation path under demand uncertainty of the power sector in Shenzhen, China](https://www.mdpi.com/2071-1050/9/11/1942). Sustainability, 9(11), 1942.

[1] Xie, R., **Hu, G.**, Zhang, Y., & Liu, Y. (2017). [Provincial transfers of enabled carbon emissions in China: A supply-side perspective](https://www.sciencedirect.com/science/article/abs/pii/S030142151730246X). Energy Policy, 107, 688-697.

## Conference Papers
[3] Ji, J., **Hu, G.**, Wu, Y., & Ma, X. (2017, March). [China’s fast growing CO2 emissions driven by increasing consumption in 1992-2012: A structural decomposition analysis](https://iopscience.iop.org/article/10.1088/1755-1315/59/1/012051/meta). In IOP Conference Series: Earth and Environmental Science (Vol. 59, No. 1, p. 012051). IOP Publishing.

[2] Li, X., **Hu, G.**, Duan, Y., & Ji, J. (2017, August). [Optimization of carbon mitigation paths in the power sector of Shenzhen, China](https://iopscience.iop.org/article/10.1088/1755-1315/81/1/012168/meta). In IOP Conference Series: Earth and Environmental Science (Vol. 81, No. 1, p. 012168). IOP Publishing.

[1] **Hu, G.**, Sun, L., Ma, X., & Ji, J. (2016, December). [Influencing Factors of CO2 Emissions in China's Manufacturing——An Analysis Based on Manufacturing Structural Changes](https://www.atlantis-press.com/proceedings/icseee-16/25867128). In 2016 5th International Conference on Sustainable Energy and Environment Engineering (ICSEEE 2016) (pp. 621-627). Atlantis Press.


{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
