---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<strong> Conference Presentations </strong>

<p>
[4] <strong>LI, X.</strong>, Mak, C. M., Ai, Z., Ma, K. W., & Wong, H. M. 2024, July. Propagation and Evaporation of Dental Droplets, Emission and Exposure in Surgery Environments: Preparing for Next "Disease X". Oral presentation at 2024 INDOOR AIR 2024. 
</p>
<p>
[3] <strong>LI, X.</strong>, Mak, C. M., Ma, K. W., & Wong, H. M.  2023, May. Performance of mitigation measures on emitted droplets in dental atomization procedure. Oral presentation at IAQVEC 2023.
</p>
<p>
[2] <strong>LI, X.</strong>, Mak, C. M., Ma, K. W., & Wong, H. M. 2022, July. The airborne lifetime and spatial-temporal distribution of emitted droplets in dental procedures. Oral Presentation at COBEE 2022.
</p>
<p>
[1] <strong>LI, X.</strong>, Wei, Y., Zhang, J., & Jin, P. 2018, June. Design and analysis of an active daylighting system for retrofiting building”. Oral presentation at COBEE 2018. 
</p>

<strong> Invited talks </strong>
<p>
[3] <strong>LI, X.</strong>, (November 3, 2024). “Revealing the dynamics of airborne transmission in short-term exposure events“, invited by Dalian University of Technology, China.
</p>
<p>
[2] <strong>LI, X.</strong>, (September 21, 2024). “Atomization and propagation of contaminated droplets through the particle image velocimetry measurement”, 2th International Symposium for Young Scholars 
in Fluids, University of Oxford, United Kingdom.
</p>
<p>
[1] <strong>LI, X.</strong>, (June 17, 2024). “Nosocomial Infections in medical healthcare centers”, invited by Chong Qing University, China.
</p>

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
